<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="title">
        <h1>Register to Comunication_LTD</h1>
    </div>
<div class="user-input">
    <table>
        <tr>
            <td class="login-text">Username</td>
            <td>
                <input type="text" name="username" id="username">
            </td>
        </tr>
        <tr>
            <td class="login-text">Password</td>
            <td>
                <input type="password" name="password" id="password">
            </td>
        </tr>
        <tr>
            <td class="login-text">Confirm Password</td>
            <td>
                <input type="password" name="confirm-password" id="confirm-password">
            </td>
        </tr>
        <tr>
            <td class="login-text">Email</td>
            <td>
                <input type="email" name="email" id="email">
            </td>
        </tr>
        <tr>
            <td class="login-text">Phone</td>
            <td>
                <input type="tel" name="phone" id="phone">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button id="register-btn">Register</button>
            </td>
        </tr>
        
    </table>
</div>
</body>
</html>